{
  "swagger": "2.0",
  "info": {
    "description": "Spritpreisrechner Beschreibung",
    "version": "2.0",
    "title": "Spritpreisrechner",
    "contact": {
      "name": "E-Control",
      "url": "http://www.e-control.at",
      "email": "office@e-control.at"
    }
  },
  "host": "api.e-control.at",
  "basePath": "/sprit/1.0",
  "tags": [
    {
      "name": "ping",
      "description": "Ping Rest Controller"
    },
    {
      "name": "regions",
      "description": "Regions Rest Controller"
    },
    {
      "name": "search",
      "description": "Search Rest Controller"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "tags": [
          "ping"
        ],
        "summary": "Returns a welcome message and current time of the application",
        "operationId": "pingUsingGET_3",
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/regions": {
      "get": {
        "tags": [
          "regions"
        ],
        "summary": "Delivers all possible regions that can be used for the region search",
        "operationId": "getRegionsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "includeCities",
            "in": "query",
            "description": "Include cities to regions",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Region"
              }
            }
          }
        }
      }
    },
    "/regions/units": {
      "get": {
        "tags": [
          "regions"
        ],
        "summary": "Delivers all possible administrative units with coordinates",
        "operationId": "getAdministrativeUnitsUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BundeslandDTO"
              }
            }
          }
        }
      }
    },
    "/search/gas-stations/by-address": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Searches for gas stations at the given location",
        "operationId": "searchGasStationsByAddressUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "fuelType",
            "in": "query",
            "description": "Fuel type, allowed values: DIE, SUP, GAS",
            "required": true,
            "type": "string",
            "enum": [
              "DIE",
              "SUP",
              "GAS"
            ]
          },
          {
            "name": "includeClosed",
            "in": "query",
            "description": "Include closed gas stations",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GasStationPublic"
              }
            }
          }
        }
      }
    },
    "/search/gas-stations/by-region": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Searches for gas stations at the given region",
        "operationId": "searchGasStationsByRegionUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Region code",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Region type, allowed values: BL, PB",
            "required": true,
            "type": "string",
            "enum": [
              "BL",
              "PB"
            ]
          },
          {
            "name": "fuelType",
            "in": "query",
            "description": "Fuel type, allowed values: DIE, SUP, GAS",
            "required": true,
            "type": "string",
            "enum": [
              "DIE",
              "SUP",
              "GAS"
            ]
          },
          {
            "name": "includeClosed",
            "in": "query",
            "description": "Include closed gas stations",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GasStationPublic"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BezirkDTO": {
      "type": "object",
      "properties": {
        "c": {
          "type": "integer",
          "format": "int64"
        },
        "g": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GemeindeDTO"
          }
        },
        "n": {
          "type": "string"
        }
      },
      "title": "BezirkDTO"
    },
    "BundeslandDTO": {
      "type": "object",
      "properties": {
        "b": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BezirkDTO"
          }
        },
        "c": {
          "type": "integer",
          "format": "int64"
        },
        "n": {
          "type": "string"
        }
      },
      "title": "BundeslandDTO"
    },
    "Contact": {
      "type": "object",
      "properties": {
        "fax": {
          "type": "string"
        },
        "mail": {
          "type": "string"
        },
        "telephone": {
          "type": "string"
        },
        "website": {
          "type": "string"
        }
      },
      "title": "Contact"
    },
    "GasStationPublic": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "contact": {
          "$ref": "#/definitions/Contact"
        },
        "distance": {
          "type": "number",
          "format": "double"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "location": {
          "$ref": "#/definitions/Location"
        },
        "name": {
          "type": "string",
          "allowEmptyValue": false
        },
        "offerInformation": {
          "$ref": "#/definitions/OfferInformation"
        },
        "open": {
          "type": "boolean"
        },
        "openingHours": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpeningHour"
          }
        },
        "otherServiceOffers": {
          "type": "string"
        },
        "paymentArrangements": {
          "$ref": "#/definitions/PaymentArrangements"
        },
        "paymentMethods": {
          "$ref": "#/definitions/PaymentMethods"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "prices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Price"
          }
        }
      },
      "title": "GasStationPublic"
    },
    "GemeindeDTO": {
      "type": "object",
      "properties": {
        "b": {
          "type": "number"
        },
        "l": {
          "type": "number"
        },
        "n": {
          "type": "string"
        },
        "p": {
          "type": "string"
        }
      },
      "title": "GemeindeDTO"
    },
    "Location": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        },
        "postalCode": {
          "type": "string"
        }
      },
      "title": "Location"
    },
    "OfferInformation": {
      "type": "object",
      "properties": {
        "selfService": {
          "type": "boolean"
        },
        "service": {
          "type": "boolean"
        },
        "unattended": {
          "type": "boolean"
        }
      },
      "title": "OfferInformation"
    },
    "OpeningHour": {
      "type": "object",
      "required": [
        "day"
      ],
      "properties": {
        "day": {
          "type": "string",
          "allowEmptyValue": false,
          "enum": [
            "MO",
            "DI",
            "MI",
            "DO",
            "FR",
            "SA",
            "SO",
            "FE"
          ]
        },
        "from": {
          "type": "string"
        },
        "to": {
          "type": "string"
        }
      },
      "title": "OpeningHour"
    },
    "PaymentArrangements": {
      "type": "object",
      "properties": {
        "accessMod": {
          "type": "string"
        },
        "clubCard": {
          "type": "boolean"
        },
        "clubCardText": {
          "type": "string"
        },
        "cooperative": {
          "type": "boolean"
        }
      },
      "title": "PaymentArrangements"
    },
    "PaymentMethods": {
      "type": "object",
      "properties": {
        "cash": {
          "type": "boolean"
        },
        "creditCard": {
          "type": "boolean"
        },
        "debitCard": {
          "type": "boolean"
        },
        "others": {
          "type": "string"
        }
      },
      "title": "PaymentMethods"
    },
    "Price": {
      "type": "object",
      "required": [
        "fuelType"
      ],
      "properties": {
        "amount": {
          "type": "number"
        },
        "fuelType": {
          "type": "string",
          "allowEmptyValue": false
        },
        "label": {
          "type": "string"
        }
      },
      "title": "Price"
    },
    "Region": {
      "type": "object",
      "properties": {
        "cities": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "code": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "postalCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subRegions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Region"
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "PB",
            "BL"
          ]
        }
      },
      "title": "Region"
    }
  }
}